<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>CV input form</title>
    <link rel="stylesheet" th:href="@{/css/output.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/print.css}" media="print"/>

    <style>
        body {
            background: #ccc; /* to visualize the page border */
        }

        .page {
            width: 21cm;
            height: 29.7cm;
            background: white;
            margin: auto;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
        }
    </style>
</head>
<body class="bg-gray-200 page">
<div class="">
    <div class="">
        <div class="flex-col bg-[#003d74] w-full px-4 py-6 text-white">
            <div class="text-4xl font-bold">Łukasz Gumiński</div>
            <div class="text-md">Lead Java Developer</div>
        </div>
    </div>
    <div class="w-full grid grid-cols-6">
        <div class="col-start-1 col-span-4 h-screen text-black p-4">
            <div>
                <h2 class="font-bold text-lg pb-2">Summary:</h2>
                <p class="">
                    I am a highly skilled and experienced Java developer with a strong
                    background in software development. I have a proven track record
                    of delivering high-quality software solutions on time and within
                    budget. I am passionate about technology and always strive to stay
                    up-to-date with the latest trends and best practices in the
                    industry.
                </p>
            </div>
            <div>
                <h2 class="font-bold text-lg py-2">Skills</h2>
                <ul th:each="skill : ${skills}">
                    <li th:text="${skill}">Skill</li>
                </ul>
            </div>
        </div>
        <div class="col-start-5 col-span-2 h-screen bg-gray-300 text-black p-2">
            <div class="font-bold">Email:</div>
            <div>lukasz.guminski629@gmail.com</div>
            <div class="font-bold">Phone:</div>
            <div>+48 668 020 777</div>
        </div>
    </div>
</div>
</body>
</html>